* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.ppg-logo,
.main-photo {
    width: 400px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 6rem;
    margin: 0;
    padding: 0;
    width: 400px;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
}

.logo-nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 10rem;
}

button {
    background-color: yellow;
    padding: .5rem 1rem;
    border: 5px solid red;
    border-radius: 8%;
    font-weight: 900;
    font-size: 1rem;
}

.hero-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
}

.hero-container {
    width: 400px;
}


.hero-main-text {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

.hero-sec-text {
    font-size: 18px;
    padding-bottom: 1rem;
}


.info-wrapper {
    background-color: lightblue;
    padding: 2rem;
}

.info-header {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.infos {
    width: 200px;
    text-align: center;
}

img {
    width: 200px;
    border-radius: 10%;
}

.text {
    padding-top: .5rem;
}

.quote-wrapper {
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    padding: 8rem;
}

.quote-container {
    width: 700px;
}

.quote-text {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}


.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 5rem 0;
}

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    width: 1000px;
    background-color: red;
    border: 5px solid #eee;
    border-radius: 15px;;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: #eee;
}

.cta-button {
    background-color: red;
    border: 5px solid #eee;
    color: #eee;
}

.cta-main-text {
    font-size: 1.5rem;
    font-weight: 800;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: pink;
}